body {
    background-color: #ffffff;
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
}

header {
    background-color: #000033;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', serif;
}

h1 {
    line-height: 200%;
}

nav {
    background-color: #90c7e3;
    font-weight: bold;
}

h2{
    color: #3399cc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

dt{
    color: #000033;
    font-weight: bold;
}

.resort {
    color: #000033;
    font-size: 1.2em;
}

footer {
    font-size: .70em;
    text-align: center;
    font-style: italic;
}

.wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}